<form action ="/admin" method="POST">
	<div class="form-group">
 		<label>Добавить барбера</label>  
		<input type="text" name="add_barber" class="form-control" placeholder="Введите имя нового барбера"><br>
		<button type="submit" class="btn btn-primary">Добавить</button>
	</div>	
</form>